<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jimmy Thigpen</title>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="styles/jquery.fullPage.css">
  <link href="http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400" rel="stylesheet" type="text/css">
</head>
<body>

<ul class="nav">
    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
    <li data-menuanchor="work"><a href="#work">Work</a></li>
    <li data-menuanchor="blog"><a href="#blog">Blog</a></li>
    <li data-menuanchor="about"><a href="#about">About</a></li>
</ul>

<div id="fullpage">

    <div class="section first-page">
        <h1>Jimmy Thigpen</h1>
        <h3>Beautiful. Simple. Web Development.</h3>
        <a href="#work">
          <i class="fa fa-chevron-down fa-3x animated bounce"></i>
        </a>
    </div>


    <div class="section second-page">

      <div class="slide slide-1">

        <h2 class="featured-work">Explore My Featured Work</h2>

          <div class="photoset-grid-basic">

              <img src="images/trail.jpg" data-highres="#work/1"/>

              <img src="images/surf.jpg" data-highres="#work/2">

              <img src="images/github.jpg" data-highres="#work/3">

              <img src="images/gifpic.jpg" data-highres="#work/4">

              <img src="images/etsy.jpg" data-highres="#work/5">

              <img src="images/sonic.jpg" data-highres="#work/6">

              <img src="images/pies.jpg" data-highres="#work/7">

              <img src="images/cafe.jpg" data-highres="#work/8">

          </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Trail</h1>

        <div class="project-info-container">

        <p class="project-description">My final project at The Iron Yard, connecting people so they can enjoy the outdoors together.</p>

          <div class="tech">
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/neat.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ember.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ai.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ps.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/lr.png" /></span>
          </div>
        </div>

        <div class="project-container">

        <img class="project-image" src="images/trail.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Surf and Paddle Co</h1>

        <div class="project-container">

        <img class="project-image" src="images/surf.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">GitHub Profile Mockup</h1>

        <div class="project-container">

        <img class="project-image" src="images/github.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Gif & Pic</h1>

        <div class="project-container">

        <img class="project-image" src="images/gifpic.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Etsy Search</h1>

        <div class="project-container">

        <img class="project-image" src="images/etsy.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Sonic Game</h1>

        <div class="project-container">

        <img class="project-image" src="images/sonic.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Pies & Pints</h1>

        <div class="project-container">

        <img class="project-image" src="images/pies.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Swamp Rabbit Cafe Recipe Maker</h1>

        <div class="project-container">

        <img class="project-image" src="images/cafe.jpg" />

        </div>

      </div>

    </div>

<div class="section third-page">
  <h1 class="blog-heading">Recent Posts</h1>

<div class="blog-container">

<div class="title-list-container">
  <ul class="title-list">
  </ul>
</div>

<div class="preview-list-container">
  <ul class="preview-list">
  </ul>
</div>

</div>

<script type="text/template" data-template-name="post-title-list">

      <li class="post-title-item">
        <h4 class="blog-title"><% title %></h4>
        <div><% date %></div>
      </li>

</script>

<script type="text/template" data-template-name="post-preview-list">

      <li class="post-preview-item">
        <h2 class="blog-title-preview"><% title %></h2>
        <p><% body %></p>
      </li>

</script>

</div>

<div class="section fourth-page">
  <h1 class="contact-heading">My name is Jimmy Thigpen</h1>

<div class="about-container">

  <div class="about-summary">
    <img class="about-image" src="images/me.png" />
    <p>I'm a recent graduate from The Iron Yard, where I attended their three month long full imersion Front End Engineer course. I loved learning to build web applications and can't wait to continue growing my skills. If you'd like to hire me or just say hello feel free to contant me. </p>
  </div>

<!--   <div class="about-tech">
  <p>The tools I use to create beautiful web applications</p>
  <ul class="tech-list">
    <li><img class="about-icon" src="images/tech/html.png" /><p>HTML5</p></li>
    <li><img class="about-icon" src="images/tech/css.png" /><p>CSS3</p></li>
    <li><img class="about-icon" src="images/tech/neat.png" /><p>Bourbon Neat</p></li>
    <li><img class="about-icon" src="images/tech/sass.png" /><p>SASS</p></li>
    <li><img class="about-icon" src="images/tech/js.png" /><p>JavaScript</p></li>
    <li><img class="about-icon" src="images/tech/ember.png" /><p></p>Ember</li>
    <li><img class="about-icon" src="images/tech/ai.png" /><p>Adobe Illustrator</p></li>
    <li><img class="about-icon" src="images/tech/ps.png" /><p>Adobe Photoshop</p></li>
    <li><img class="about-icon" src="images/tech/lr.png" /><p>Adobe Lightroom</p></li>
    <li><img class="about-icon" src="images/tech/backbone.png" /><p>Backbone</p></li>
    <li><img class="about-icon" src="images/tech/parse.png" /><p>Parse</p></li>
    <li><img class="about-icon" src="images/tech/underscore.png" /><p>Underscore</p></li>
    <li><img class="about-icon" src="images/tech/jquery.png" /><p>jQuery</p></li>
  </ul>
</div> -->

  <div class="about-contact">
  <h2>Contact Me</h2>
  <span><a href="tel:8432246569">(843) 224-6569</a></span>
  <span><a href="mailto:jmthigpen@me.com?subject=I enjoy your work and wanted to talk.">Email Me</a></span>
  <span><a href="http://goo.gl/2yO2lj">Resume</a></span>
  </div>

</div>


</div>

<footer>
  <a href="https://github.com/jimmythigpen">
    <img class="social-icon" src="images/github.png" />
  </a>
  <a href="https://www.linkedin.com/in/thigpenjimmy">
    <img class="social-icon" src="images/linkedIn.png" />
  </a>
  <a href="https://twitter.com/jimmythigpen">
    <img class="social-icon" src="images/twitter.png" />
  </a>
</footer>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.js"></script>
<script src="jquery.fullPage.js"></script>
<script src="bower_components/photoset-grid/jquery.photoset-grid.js"></script>
<script src="main.js"></script>

</body>
</html>
