<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jimmy Thigpen</title>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/jquery.fullPage.css">
  <link href="http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400" rel="stylesheet" type="text/css">

</head>
<body>

<ul class="nav">
    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
    <li data-menuanchor="work"><a href="#work">Work</a></li>
    <li data-menuanchor="blog"><a href="#blog">Blog</a></li>
    <li data-menuanchor="about"><a href="#about">About</a></li>
</ul>

<div id="fullpage">

    <div class="section first-page">
      <div class="first-page-name">
        <h1>Jimmy Thigpen</h1>
        <h2>Web Developer</h2>
      </div>
    </div>

    <div class="section second-page">

      <div class="slide slide-1">

        <h1 class="featured-work">My Featured Work</h1>

          <div class="photoset-grid-basic" data-layout="44">

              <img src="images/trail.jpg" data-highres="#work/1"/>

              <img src="images/surf.jpg" data-highres="#work/2">

              <img src="images/github.jpg" data-highres="#work/3">

              <img src="images/gifpic.jpg" data-highres="#work/4">

              <img src="images/etsy.jpg" data-highres="#work/5">

              <img src="images/sonic.jpg" data-highres="#work/6">

              <img src="images/pies.jpg" data-highres="#work/7">

              <img src="images/cafe.jpg" data-highres="#work/8">

          </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Trail</h1>

        <div class="project-info-container">

        <p class="project-description">My final project at The Iron Yard, connecting people so they can enjoy the outdoors together.</p>

        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/neat.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ember.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ai.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ps.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/lr.png" /></span>
        </div>
        </div>

        <div class="project-container">

        <img class="project-image" src="images/trail.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Surf and Paddle Co</h1>

        <div class="project-container">

        <img class="project-image" src="images/surf.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">GitHub Profile Mockup</h1>

        <div class="project-container">

        <img class="project-image" src="images/github.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Gif & Pic</h1>

        <div class="project-container">

        <img class="project-image" src="images/gifpic.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Etsy Search</h1>

        <div class="project-container">

        <img class="project-image" src="images/etsy.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Sonic Game</h1>

        <div class="project-container">

        <img class="project-image" src="images/sonic.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Pies & Pints</h1>

        <div class="project-container">

        <img class="project-image" src="images/pies.jpg" />

        </div>

      </div>

      <div class="slide slide-2">
        <h1 class="project-title">Swamp Rabbit Cafe Recipe Maker</h1>

        <div class="project-container">

        <img class="project-image" src="images/cafe.jpg" />

        </div>

      </div>

    </div>

<div class="section third-page">
  <h1 class="blog-heading">Recent Blog Posts</h1>

<div class="blog-container">

<div class="title-list-container">
  <ul class="title-list">
  </ul>
</div>

<div class="preview-list-container">
  <ul class="preview-list">
  </ul>
</div>

</div>

<script type="text/template" data-template-name="post-title-list">

      <li class="post-item">
        <h2 class="blog-title"><% title %></h2>
      </li>

</script>

<script type="text/template" data-template-name="post-preview-list">

      <li class="post-item">
        <h2 class="blog-title"><% title %></h2>
        <p><% body %></p>
      </li>

</script>

</div>

<div class="section fourth-page">
  <h1 class="contact-heading">About</h1>

  <div class="about-summary">
    <img class="about-image" src="images/me.jpg" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum corporis eius magnam voluptas labore nobis sit obcaecati commodi, accusamus dolorem? Ad, quis veritatis quibusdam natus officiis ipsum ipsa maxime placeat.</p>
  </div>

  <div class="about-contact">
    <a href="mailto:jmthigpen@me.com">Email Me</a>
  </div>

  <footer>
    <img class="social-icon" src="images/linkedIn.png" />
    <img class="social-icon" src="images/twitter.png" />
  </footer>

</div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="main.js"></script>
<script src="jquery.fullPage.js"></script>
<script src="bower_components/photoset-grid/jquery.photoset-grid.js"></script>

</body>
</html>
