<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Jimmy Thigpen</title>
    <meta name="description" content="Charleston, SC Front End Web Developer &amp; The Iron Yard graduate.">
    <meta name="keywords" content="jimmy,thigpen,web,developer,development,design,blog,contact,charleston,south,carolina,the,iron,yard">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/jquery.fullPage.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">

  </head>
<body>

<ul class="nav">
    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
    <li data-menuanchor="work" class="work-nav"><a href="#work">Work</a></li>
    <li data-menuanchor="blog"><a href="#blog">Blog</a></li>
    <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
</ul>

<div id="fullpage">

    <div class="section first-page hidden">
        <h1>Jimmy Thigpen</h1>
        <h3 class="heading"></h3>
        <a href="#work" class="chevron-down">
          <i class="fa fa-chevron-down fa-3x animated"></i>
        </a>
    </div>


    <div class="section second-page hidden">

      <div class="slide">

        <h2 class="featured-work">Explore My Featured Work
          <a href="#work/1" class="explore-arrow">
            <i class="fa fa-arrow-right"></i>
          </a>
        </h2>

        <div class="photoset-grid-basic">
            <img src="images/trail.jpg" data-highres="#work/1" alt="Trail"/>
            <img src="images/surf.jpg" data-highres="#work/2" alt="Surf &amp; Paddle"/>
            <img src="images/github.jpg" data-highres="#work/3" alt="GitHub Profile"/>
            <img src="images/gifpic.jpg" data-highres="#work/4" alt="Flick &amp; Gif"/>
            <img src="images/etsy.jpg" data-highres="#work/5" alt="Etsy Search"/>
            <img src="images/sonic.jpg" data-highres="#work/6" alt="Sonic Game"/>
            <img src="images/pies.jpg" data-highres="#work/7" alt="Pies &amp; Pints"/>
            <img src="images/cafe.jpg" data-highres="#work/8" alt="Recipe Maker"/>
        </div>

      </div>

      <div class="slide">

          <h1>Trail</h1>
          <p>My final project at The Iron Yard, connecting people so they can enjoy the outdoors together.</p>
          <div class="tech">
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/neat.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ember.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/jquery.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ai.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ps.png" /></span>
            <span class="tech-icon-container"><img class="tech-icon" src="images/tech/lr.png" /></span>
          </div>
          <a href="http://jimmythigpen.github.io/runRideBuddy/#/">
            <img class="project-image" src="images/trail.jpg" />
          </a>
            <div class="project-links">
              <a href="http://jimmythigpen.github.io/runRideBuddy/#/">View Live</a>
              <a href="https://github.com/jimmythigpen/runRideBuddy">Github Code</a>
            </div>
        </div>

      <div class="slide">
        <h1>Surf &amp; Paddle</h1>
        <p>Pixel perfect rendition of a PSD file using HTML5, CSS3. and SASS.</p>
        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/neat.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
        </div>
        <a href="http://jimmythigpen.github.io/Surf-and-Paddles-SASS/">
          <img class="project-image" src="images/surf.jpg" />
        </a>
        <div class="project-links">
          <a href="http://jimmythigpen.github.io/Surf-and-Paddles-SASS/">View Live</a>
          <a href="https://github.com/jimmythigpen/Surf-and-Paddles-SASS">Github Code</a>
        </div>
      </div>

      <div class="slide">
        <h1>GitHub Profile</h1>
        <p>Recreated my GitHub landing page using HTML5, CSS3, SASS, and JavaScript.</p>
        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/jquery.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/underscore.png" /></span>
        </div>
        <a href="http://development.jt-github.divshot.io/">
          <img class="project-image" src="images/github.jpg" />
        </a>
        <div class="project-links">
          <a href="http://development.jt-github.divshot.io/">View Live</a>
          <a href="https://github.com/jimmythigpen/1-27-Homework">Github Code</a>
        </div>
      </div>

      <div class="slide">
        <h1 class="project-title">Flick &amp; Gif</h1>
        <p>Part of an 'API Mashup' project at the Iron Yard using Backbone, search Flickr and Giphy at the same time.</p>
        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/backbone.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/jquery.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/underscore.png" /></span>
        </div>
        <a href="http://jimmythigpen.github.io/API-Mashup/">
          <img class="project-image" src="images/gifpic.jpg" />
        </a>
        <div class="project-links">
          <a href="http://jimmythigpen.github.io/API-Mashup/">View Live</a>
          <a href="https://github.com/jimmythigpen/API-Mashup">Github Code</a>
        </div>
      </div>

      <div class="slide">
        <h1>Etsy Search</h1>
        <p>Etsy search page project, searches the Etsy API and uses the Bourbon Neat grid framework.</p>
        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/neat.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/jquery.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/underscore.png" /></span>
        </div>
        <a href="http://jimmythigpen.github.io/1-26-Homework/">
          <img class="project-image" src="images/etsy.jpg" />
        </a>
        <div class="project-links">
          <a href="http://jimmythigpen.github.io/1-26-Homework/">View Live</a>
          <a href="https://github.com/jimmythigpen/1-26-Homework">Github Code</a>
        </div>
      </div>

      <div class="slide">
        <h1>Sonic Game</h1>
        <p>Created in one weekend with a partner, this was a super fun project and one of our first using jQuery.</p>
        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/neat.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/jquery.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/underscore.png" /></span>
        </div>
        <a href="http://jimmythigpen.github.io/SonicGame/">
          <img class="project-image" src="images/sonic.jpg" />
        </a>
        <div class="project-links">
          <a href="http://jimmythigpen.github.io/SonicGame/">View Live</a>
          <a href="https://github.com/jimmythigpen/SonicGame">Github Code</a>
        </div>
      </div>

      <div class="slide">
        <h1>Pies &amp; Pints</h1>
        <p>Our first weekend project using Backbone, I created a pizza restaurant's online ordering site.</p>
        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/backbone.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/jquery.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/underscore.png" /></span>
        </div>
        <a href="http://jimmythigpen.github.io/Pies-Pints/">
          <img class="project-image" src="images/pies.jpg" />
        </a>
        <div class="project-links">
          <a href="http://jimmythigpen.github.io/Pies-Pints/">View Live</a>
          <a href="https://github.com/jimmythigpen/Pies-Pints">Github Code</a>
        </div>
      </div>

      <div class="slide">
        <h1>Recipe Maker</h1>
        <p>A group project focused on using Git and Ember, we created a recipe creation and adjustment site for a local cafe.</p>
        <div class="tech">
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/html.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/css.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/neat.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/sass.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/js.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/ember.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/jquery.png" /></span>
          <span class="tech-icon-container"><img class="tech-icon" src="images/tech/underscore.png" /></span>
        </div>
        <a href="http://jimmythigpen.github.io/batchMaker/">
          <img class="project-image" src="images/cafe.jpg" />
        </a>
        <div class="project-links">
          <a href="http://jimmythigpen.github.io/batchMaker/">View Live</a>
          <a href="https://github.com/jimmythigpen/batchMaker">Github Code</a>
        </div>
      </div>

      <h3 class="explore-work">
        <i class="fa fa-arrow-left mobile-left"></i>
          <a href="#work/0">My Work</a>
        <i class="fa fa-arrow-right mobile-right"></i>
      </h3>

      <span class="section-left-arrow">
        <i class="fa fa-arrow-left"></i>
      </span>
      <span class="section-right-arrow">
        <i class="fa fa-arrow-right"></i>
      </span>

    </div>


<div class="section third-page hidden">

  <h1 class="blog-heading">Recent Posts
    <a href="http://jimmythigpen.tumblr.com/">
      <img src="images/tumblr.png" />
    </a>
  </h1>

  <div class="blog-container">

    <div class="title-list-container">
      <ul class="title-list">
      </ul>
    </div>

    <div class="preview-list-container">
      <ul class="preview-list">
      </ul>
    </div>

  </div>

  <script type="text/template" data-template-name="post-title-list">
    <li class="post-title-item">
      <a href="<% url %>">
        <h4 class="blog-title"><% title %></h4>
      </a>
      <div class="blog-date"><% date %></div>
    </li>
  </script>

  <script type="text/template" data-template-name="post-preview-list">
    <li class="post-preview-item">
      <a href="<% url %>">
        <h2 class="blog-title-preview"><% title %></h2>
      </a>
      <% body %>
    </li>
  </script>

</div>

<div class="section fourth-page hidden">

  <h1 class="about-heading">My name is Jimmy Thigpen</h1>

  <div class="about-container">

    <div class="about-left">
      <img src="images/me.jpg" />
    </div>

    <div class="about-right">
      <p>I'm a web developer located in Charleston, SC. I recently graduated from The Iron Yard, where I completed a three month intensive Front End Engineer course. I love building web applications and designing simple and easy to use user interfaces. If you'd like to work with me or just say hello, please contact me!</p>
    </div>

    <div class="about-contact">
      <div class="contact-links"><a href="tel:8432246569">(843) 224-6569</a></div>
      <div class="contact-links"><a href="mailto:jmthigpen@me.com?subject=I enjoy your work and wanted to talk.">jmthigpen@me.com</a>
      </div>
      <div class="contact-links"><a href="https://drive.google.com/file/d/0BxC1fTb75YdLLWplTEc5N1BaMXc/view?usp=sharing">Resume</a>
      </div>
    </div>

  </div>

</div>

<footer>
  <a href="https://github.com/jimmythigpen">
    <img class="social-icon" src="images/github.png" />
  </a>
  <a href="https://www.linkedin.com/in/thigpenjimmy">
    <img class="social-icon" src="images/linkedIn.png" />
  </a>
  <a href="https://twitter.com/jimmythigpen">
    <img class="social-icon" src="images/twitter.png" />
  </a>
</footer>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.js"></script>
<script src="bower_components/fullpage.js/jquery.fullPage.min.js"></script>
<script src="bower_components/photoset-grid/jquery.photoset-grid.js"></script>
<script src="bower_components/typed.js/js/typed.js"></script>
<script src="main.js"></script>

</body>
</html>
