@font-face {
  font-family: Hagin-Medium;
  src: url("../styles/fonts/Hagin-Caps-Medium.otf"); }
@font-face {
  font-family: Hagin-Thin;
  src: url("../styles/fonts/Hagin-Caps-Thin.otf"); }
@font-face {
  font-family: Antonio-Medium;
  src: url("../styles/fonts/Antonio-Regular.ttf"); }
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.first-page {
  background: linear-gradient(rgba(197, 198, 123, 0.8), rgba(197, 198, 123, 0.8)), url("../images/bg.png"); }

.second-page {
  background: linear-gradient(rgba(55, 68, 80, 0.8), rgba(55, 68, 80, 0.8)), url("../images/bg.png"); }

.third-page {
  background: linear-gradient(rgba(249, 249, 249, 0.8), rgba(249, 249, 249, 0.8)), url("../images/bg.png"); }

.fourth-page {
  background: linear-gradient(rgba(129, 116, 97, 0.8), rgba(129, 116, 97, 0.8)), url("../images/bg.png"); }

.nav {
  position: fixed;
  z-index: 1;
  margin: 1% 0 0 1%; }
  .nav li {
    list-style: none;
    display: inline-block;
    border: 2px solid transparent;
    font-size: 1.6em;
    font-family: Hagin-Medium;
    padding: 5px 8px 0; }
  .nav .active {
    border: 2px solid #f9f9f9;
    border-radius: 3px; }
  .nav a {
    text-decoration: none;
    color: #212121; }

/*
 * Animation for Chevron
*/
.animated {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-name: bounce;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  animation-iteration-count: 100;
  -webkit-animation-iteration-count: 100;
  -moz-animation-iteration-count: 100;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s; }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-10px); } }
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0px); }
  100% {
    -moz-transform: translateY(-10px); } }
.fa-chevron-down {
  position: fixed;
  bottom: 0;
  left: 42%;
  right: 42%;
  color: #f9f9f9; }

.first-page {
  text-align: center; }
  .first-page h1 {
    font-size: 6.3em;
    font-weight: 400;
    font-family: Hagin-Medium, sans-serif;
    margin: 0;
    color: #26131c; }
  .first-page h3 {
    font-size: 2em;
    font-weight: 400;
    font-family: Antonio-Medium, sans-serif;
    margin: 0;
    color: #26131c; }

.featured-work {
  font-size: 3.5vmax;
  margin-top: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #26131c; }
  .featured-work .fa {
    color: #26131c; }

.blog-container {
  max-width: 95%;
  margin: 0 auto; }

.blog-heading {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 3.5vmax;
  margin-top: 0;
  color: #26131c; }
  .blog-heading img {
    height: 2.4vmax;
    border-radius: 3px; }

.title-list-container {
  width: 24.5%;
  vertical-align: top;
  display: inline-block; }

.preview-list-container {
  display: inline-block;
  width: 74.5%; }

.title-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.preview-list {
  list-style: none;
  margin: 0;
  padding: 0; }

figure img {
  display: none; }

.blog-title {
  font-family: Hagin-Medium, sans-serif;
  font-size: 1.3vmax;
  margin-bottom: 1%;
  display: inline-block; }

.blog-date {
  font-family: Roboto, sans-serif;
  font-size: 1vmax;
  color: #727272; }

.blog-title-preview {
  font-family: Hagin-Medium, sans-serif;
  font-size: 3vmax;
  font-weight: 400;
  margin: 1% 0;
  color: #212121;
  display: inline-block; }

.post-preview-item p {
  font-family: Roboto, sans-serif;
  font-size: 1.75vmax;
  margin: 1%;
  color: #212121;
  font-weight: 300; }
  .post-preview-item p a {
    color: #727272;
    font-size: 1.5vmax;
    text-decoration: none; }

.post-title-item a {
  text-decoration: none;
  color: #212121; }

.post-preview-item a {
  text-decoration: none; }

.slide {
  text-align: center;
  position: relative; }
  .slide h1 {
    font-family: Hagin-Medium, sans-serif;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 4vmax;
    color: #212121; }
  .slide p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 3vmin;
    margin: 0 0 5px 0;
    color: #212121; }

.project-image {
  max-height: 75%;
  max-width: 90%;
  border-radius: 3px; }

.project-links {
  margin-top: 15px; }

.project-links a {
  text-decoration: none;
  color: #212121;
  border: 2px solid #212121;
  font-family: Hagin-Medium;
  padding: 5px 8px 0;
  font-size: 2em;
  border-radius: 3px;
  transition: all 250ms; }
  .project-links a:hover {
    color: #f9f9f9; }

.tech {
  margin-bottom: 5px; }

.tech-icon-container {
  display: inline-block;
  max-width: 2%;
  min-width: 30px; }

.tech-icon {
  width: 100%; }

.about-container {
  width: 85%;
  margin: 0 auto; }

.about-heading {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 3.5vmax;
  margin-top: 0;
  color: #26131c; }

.about-left {
  width: 45%;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .about-left img {
    width: 70%;
    border-radius: 3px; }

.about-contact {
  width: 85%;
  text-align: center;
  margin: 30px auto 0;
  height: 40px; }

.contact-links {
  margin-top: 15px;
  display: inline-block;
  width: 32%; }

.contact-links a {
  text-decoration: none;
  color: #212121;
  border: 2px solid #212121;
  font-family: Hagin-Medium;
  padding: 5px 8px 0;
  font-size: 1.7vmax;
  border-radius: 3px;
  transition: all 250ms; }
  .contact-links a:hover {
    color: #f9f9f9; }

.about-right {
  width: 45%;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .about-right p {
    font-size: 1.75vmax;
    font-family: Roboto;
    font-weight: 300; }

footer {
  text-align: center;
  bottom: 30px;
  height: 30px;
  position: relative; }
  footer a {
    text-decoration: none; }

.social-icon {
  height: 90%;
  padding: 0 5px; }

.photoset-grid-basic img {
  transition: all 250ms; }

.photoset-cell {
  position: relative;
  overflow: hidden; }
  .photoset-cell:hover img {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -moz-transform: scale(1.1);
    /* Firefox */
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -o-transform: scale(1.1);
    /* Opera */ }

.view-text:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.view-text {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms; }
  .view-text p {
    text-align: center;
    font-family: Hagin-Medium, sans-serif;
    font-size: 30px;
    opacity: 0;
    color: #f9f9f9;
    transition: all 250ms;
    display: inline-block;
    vertical-align: middle;
    width: 100%; }
  .view-text:hover {
    background-color: rgba(0, 0, 0, 0.5); }
    .view-text:hover p {
      opacity: 1; }

@media screen and (max-width: 1000px) {
  .nav {
    margin: 10px auto;
    padding: 0;
    width: 100%;
    text-align: center; }

  .title-list-container {
    display: none; }

  .blog-container {
    /* max-width: 600px; */
    width: 95%; }

  .preview-list-container {
    width: 100%; }

  .about-container {
    width: 95%; }

  .about-contact {
    width: 95%; } }
@media screen and (max-width: 800px) {
  .about-left {
    width: 95%; }
    .about-left img {
      width: 40%; }

  .about-right {
    display: block;
    width: 65%;
    margin: 0 auto; }
    .about-right p {
      font-size: 2.5vmax; } }
@media screen and (max-height: 800px) {
  .project-image {
    max-height: 70%; } }
@media screen and (min-height: 800px) {
  .project-image {
    max-height: 70%; } }
@media screen and (max-height: 700px) {
  .project-image {
    max-height: 65%; } }
@media screen and (max-height: 600px) {
  .project-image {
    max-height: 50%; } }
@media screen and (max-height: 450px) {
  .project-image {
    max-height: 30%; } }

/*# sourceMappingURL=main.css.map */
