html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: Hagin-Medium;
  src: url("../styles/fonts/Hagin-Caps-Medium.otf");
}

@font-face {
  font-family: Antonio-Medium;
  src: url("../styles/fonts/Antonio-Regular.ttf");
}

$font-stack: 'Roboto', sans-serif;
$white: #f9f9f9;
$primary-text: #212121;
$secondary-text: #26131c;
$hint-text: #727272;

.first-page {
  background: linear-gradient(rgba(197, 198, 123, .8), rgba(197, 198, 123, .8)), url("../images/bg.png");
}
.second-page {
  background: linear-gradient(rgba(55, 68, 80, .8), rgba(55, 68, 80, .8)), url("../images/bg.png");
}
.third-page {
  background: linear-gradient(rgba(249, 249, 249, .8), rgba(249, 249, 249, .8)), url("../images/bg.png");
}
.fourth-page {
  background: linear-gradient(rgba(129, 116, 97, .8), rgba(129, 116, 97, .8)), url("../images/bg.png");
}

.nav {
  position: fixed;
  z-index: 1;
  margin: 1% 0 0 1%;

  li {
    list-style: none;
    display: inline-block;
    border: 2px solid transparent;
    font-size: 1.6em;
    font-family: Hagin-Medium;
    padding: 5px 8px 0;
  }

  .active {
    border: 2px solid $white;
    border-radius: 3px;
  }

  a {
    text-decoration: none;
    color: $primary-text;
  }
}

.section-left-arrow {
  position: absolute;
  top: 45%;
  font-size: 3em;
  left: 10px;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms;
}

.section-right-arrow {
  position: absolute;
  top: 45%;
  font-size: 3em;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms;
}

.mobile-left {
  cursor: pointer;
}

.mobile-right {
  cursor: pointer;
}

/*
 * Animation for Chevron
*/
.animated {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-name: bounce;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    animation-iteration-count: 100;
    -webkit-animation-iteration-count: 100;
    -moz-animation-iteration-count: 100;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
}
@keyframes bounce {
    0% {transform: translateY(0px);}
    100% {transform: translateY(-10px);}
}
@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(0px);}
    100% {-webkit-transform: translateY(-10px);}
}
@-moz-keyframes bounce {
    0% {-moz-transform: translateY(0px);}
    100% {-moz-transform: translateY(-10px);}
}

.fa-chevron-down {
  position: fixed;
  bottom: 0;
  left: 42%;
  right: 42%;
  color: $white;
}

.first-page {
  text-align: center;

  h1 {
    font-size: 6.3em;
    font-weight: 400;
    font-family: Hagin-Medium, sans-serif;
    margin: 0;
    color: $secondary-text;
  }

  h3 {
    font-size: 2em;
    font-weight: 400;
    font-family: Antonio-Medium, sans-serif;
    margin: 0;
    color: $secondary-text;
  }
}

.featured-work {
  font-size: 3em;
  margin-top: 0;
  text-align: center;
  font-family: $font-stack;
  font-weight: 300;
  color: $secondary-text;

  .fa {
    color: $secondary-text;
  }
}

.explore-work {
  font-size: 2.5em;
  margin-top: 0;
  text-align: center;
  font-family: $font-stack;
  font-weight: 300;
  color: $secondary-text;
  margin: 0 0 .5em 0;
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  z-index: 3;
}

.hidden {
  display: none;
}

//
//Blog Section
//
.blog-container {
  max-width: 85%;
  margin: 0 auto;
}

.blog-heading {
  text-align: center;
  font-family: $font-stack;
  font-weight: 300;
  font-size: 3em;
  margin-top: 0;
  color: $secondary-text;

  img {
    height: .7em;
    border-radius: 3px;
  }
}
.title-list-container {
  width: 24.5%;
  vertical-align: top;
  display: inline-block;

  ul li:first-child h4{
    margin-top: 0;
  }

}
.preview-list-container {
  display: inline-block;
  width: 74.5%;
}
.title-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.preview-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
figure {
  display: none;
}

.blog-title {
  font-family: Hagin-Medium, sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1%;
  display: inline-block;
}

.blog-date {
  font-family: $font-stack;
  font-size: .8em;
  color: $hint-text;
}

.blog-title-preview {
  font-family: Hagin-Medium, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 0 1% 0;
  color: $primary-text;
  display: inline-block;
}

.post-preview-item p {
  font-family: $font-stack;
  font-size: 1.2em;
  margin: 1%;
  color: $primary-text;
  font-weight: 300;

  a {
    color: $hint-text;
    font-size: 1em;
    text-decoration: none;
  }
}

.post-title-item a {
  text-decoration: none;
  color: $primary-text;
}

.post-preview-item a {
  text-decoration: none;
}

//
// Project Section
//
.slide {
  text-align: center;
  position: relative;

  h1 {
    font-family: Hagin-Medium, sans-serif;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 3em;
    color: $primary-text;
  }

  p {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 1.2em;
    margin: 0 0 5px 0;
    color: $primary-text;
  }
}

.project-image {
  max-height: 75%;
  max-width: 90%;
  border-radius: 3px;
}

.project-links {
  margin-top: 15px;
}

.project-links a {
  text-decoration: none;
  color: $primary-text;
  border: 2px solid $primary-text;
  font-family: Hagin-Medium;
  padding: 5px 8px 0;
  font-size: 2em;
  border-radius: 3px;
  transition: all 300ms;

  &:hover {
    color: $white;
  }
}

.tech {
  margin-bottom: 5px;
}
.tech-icon-container {
  display: inline-block;
  max-width: 2%;
  min-width: 25px;
}
.tech-icon {
  width: 100%;
}

//
// About Page
//
.about-container {
  width: 85%;
  margin: 0 auto;
}
.about-heading {
  text-align: center;
  font-family: $font-stack;
  font-weight: 300;
  font-size: 3em;
  margin-top: 0;
  color: $secondary-text;
}

.about-left {
  width: 45%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  img {
    width: 70%;
    border-radius: 3px;
  }
}

.about-contact {
  width: 85%;
  text-align: center;
  margin: 20px auto 0;
  height: 60px;
}

.contact-links {
  margin-top: 15px;
  display: inline-block;
  width: 32%;

  &:first-child {
    margin-top: 5px;
  }
}

.contact-links a {
  text-decoration: none;
  color: $primary-text;
  border: 2px solid $primary-text;
  font-family: Hagin-Medium;
  padding: 5px 8px 0;
  font-size: 2.7vmax;
  border-radius: 3px;
  transition: all 300ms;

  &:hover {
    color: $white;
  }
}

.about-right {
  width: 45%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  p {
    font-size: 1.2em;
    font-family: $font-stack;
    font-weight: 300;
    color: $primary-text;
  }
}

//
// Footer
//
footer {
  text-align: center;
  bottom: 50px;
  height: 40px;
  position: relative;

  a {
    text-decoration: none;
  }
}
.social-icon {
  height: 90%;
  padding: 0 5px;
}

//
//Image Hover
//
.photoset-grid-basic {
  margin: 0 auto;
  z-index: 0;

  img {
    transition: all 300ms;
  }
}
.photoset-cell {
  position: relative;
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

.view-text:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.view-text {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;

  p {
    text-align: center;
    font-family: Hagin-Medium, sans-serif;
    font-size: 2.75vw;
    opacity: 0;
    color: $white;
    transition: all 300ms;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .5);

    p {
      opacity: 1;
    }
  }
}

//
// Media Queries
//
@media screen and (max-width: 1000px) {

  .nav {
    margin: 10px auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .title-list-container {
    display: none;
  }

  .blog-container {
    width: 95%;
  }

  .preview-list-container {
    width: 100%;
  }

  .about-container {
    width: 95%;
  }

  .about-contact {
    width: 95%;
  }
}

@media screen and (min-width: 601px) {

  .explore-work {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  .about-left {
    width: 100%;

    img {
      width: 40%;
    }
  }

  .about-right {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
  .featured-work {
    font-size: 2.5em;
  }

.fp-slidesNav {
  display: none;
}

  .chevron-down {
    display: none;
  }

  footer {
    text-align: center;
    bottom: 5px;
    height: 30px;
    position: absolute;
    left: 1%;
    right: 1%;
  }
}

@media screen and (max-width: 700px) {

  .featured-work {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {

  .contact-links {
    width: 100%;
  }

  .nav {
    display: none;
  }

  .about-left img{
    width: 60%;
  }

  .section-left-arrow {
    display: none;
  }

  .section-right-arrow {
    display: none;
  }

  .about-contact {
    height: 100px;
  }

  .featured-work {
    font-size: 1.75em;
  }

  .explore-arrow {
    display: none;
  }
}

@media screen and (max-height: 800px) {

  .project-image {
    max-height: 65%;
    max-width: 70%;
  }
}

@media screen and (min-height: 800px) {

  .project-image {
    max-width: 70%;
    max-height: 70%;
  }
}

@media screen and (max-height: 650px) {

  .project-image {
    max-height: 60%;
  }
}

@media screen and (max-height: 700px) {

  .project-image {
    max-height: 65%;
  }
}

@media screen and (max-height: 600px) {

  .project-image {
    max-height: 45%;
  }

  .nav {
    display: none;
  }

  .chevron-down {
    display: none;
  }

  .fp-slidesNav {
    display: none;
  }

  .featured-work {
    font-size: 2em;
  }

  .slide p {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-height: 450px) {

  .project-image {
    display: none;
  }
}
