html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  /* font-family: 'Roboto', sans-serif; */
  color: #26313C;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
}

body {
  height: 100%;
  width: 100%;
  /* padding: 0; */
  /* margin: 0; */
}
@font-face {
    font-family: Hagin;
    src: url("../styles/fonts/Hagin-Caps-Medium.otf");
}

.first-page {
background: linear-gradient(rgba(197, 198, 123, .8), rgba(197, 198, 123, .8)), url("http://api.thumbr.it/whitenoise-361x370.png?");
background-repeat: repeat;
}

.first-page-name {
  text-align: center;
}

.first-page-name h1 {
  font-size: 6em;
  margin: 0;
  font-family: Hagin, sans-serif;

}

.first-page-name h2 {
  font-size: 3em;
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;

}

.second-page {
  background: linear-gradient(rgba(55, 68, 80, .8), rgba(55, 68, 80, .8)), url("http://api.thumbr.it/whitenoise-361x370.png?");
}

.third-page {
  background: linear-gradient(rgba(249, 249, 249, .8), rgba(249, 249, 249, .8)), url("http://api.thumbr.it/whitenoise-361x370.png?");
}

.fourth-page {
  background: linear-gradient(rgba(30, 37, 43, .8), rgba(30, 37, 43, .8)), url("http://api.thumbr.it/whitenoise-361x370.png?");
}

.nav {
  position: fixed;
  z-index: 1;
  margin: 10px 0px 0px 0px;

  li {
    list-style: none;
    display: inline-block;
    border: 2px solid transparent;
    font-size: 32px;
    font-family: Hagin;
    font-weight: 600;
    padding: 7px 8px 0px 8px;
  }
    .active {
          border: 2px solid #f9f9f9;
          border-radius: 3px;
        }
          a {
            text-decoration: none;
        }
}


.project-container {
  width: 84%;
  margin: 0px auto;
  text-align: center;
}

.project-image {
  width: 65%;
  border-radius: 2px;
}

.featured-work {
  text-align: center;
  font-family: Hagin, sans-serif;
}

.contact-heading {
  text-align: center;
  font-family: Hagin, sans-serif;
}

.project-title {
  font-family: Hagin, sans-serif;
  text-align: center;
  margin: 10px 0px;
  font-size: 50px;
}

.title-list-container {
  width: 30%;
  vertical-align: top;
  display: inline-block;
}

.preview-list-container {
  display: inline-block;
  width: 60%;
}

.title-list {
  list-style: none;

}

.preview-list {
  list-style: none;

}

figure img {
  display: none;
}

.dev-heading {
  font-family: Hagin Caps Thin;
}

.project-info-container {
  text-align: center;
}

.project-description {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0px;
}

.tech {
  margin-bottom: 5px;
  }

.tech-icon-container {
    display: inline-block;
    width: 2%;
}

.tech-icon {
  width: 100%;
}

.bottom-preview-row {
  height: 50%;
}

 .blog-heading {
   text-align: center;
   font-family: Hagin, sans-serif;
 }

.blog-title {
  font-family: Hagin, sans-serif;
 }

.post-item p{
  font-family: sans-serif;
}


.about-summary {
  display: inline-block;
  width: 50%;
  /* text-align: center; */
  padding: 0 10% 0 10%;

  p {
    color: #f9f9f9;
  }
}

.about-image {
  width: 100%;
  border-radius: 3px;
/* vertical-align: top; */
}


.about-contact {
   width: 40%;
    display: inline-block;
    vertical-align: top;
}

footer {
  text-align: center;
}

.social-icon {
  width: 10%;
}


//Image Hover

img {
  transition: all 250ms;
}

.photoset-cell {
  position: relative;
  overflow: hidden;

  &:hover {

    img {

      transform:scale(1.1);
      -ms-transform:scale(1.1); /* IE 9 */
      -moz-transform:scale(1.1); /* Firefox */
      -webkit-transform:scale(1.1); /* Safari and Chrome */
      -o-transform:scale(1.1); /* Opera */

    }

  }

}

.view-text:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.view-text {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms;

  p {

    text-align: center;
    font-family: Hagin, sans-serif;
    font-size: 30px;
    opacity: 0;
    color: #f9f9f9;
    transition: all 250ms;
    display: inline-block;
    vertical-align: middle;
    width: 100%;

  }

  &:hover {
    background-color: rgba(0, 0, 0, .5);

    p {
      opacity: 1;
    }

  }

}
